/coverage
/src/client/shared.ts
/src/node/shared.ts
*.o
*.log
*.tgz
.DS_Store
.*.swp
*.orig
*.rej
*~
.#*
*#
*.local
.idea
.cache
.ccache
.temp
.vite_opt_cache
.vscode
.project
.cproject
.ssh
cache
node_modules
tmp
temp
examples-temp
logs
dist
git-src
pnpm-global
TODOs.md